
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&family=Poppins:wght@300;700&display=swap');

*{
    vertical-align: middle;
    font-family: 'Mulish', sans-serif;
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 37px;
    color:#04146c;
    font-weight: 900;

}
h3{
    font-size: 21px;
    color:#0a2ff1;
    font-weight: 700;
}

p{
    font-size: 18px;
    width: 40%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 70px;
    color: #04146c;
    font-weight:400;
}


img{
    width: 55px;
    margin-right: 15px;
}