@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

* { 
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    font-size: 18pt;
    color: #04146c;
    font-weight: 700;
}

input, button {
    border: 1px solid #04146c;
    width: 500px;
    height: 50px;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14pt;
    font-weight: 400;
    color: #414166;
}

button {
    color: white;
    background-color: #0a2ff1;
    font-weight: 600;
}
button p{
    color: white;
}

form {
    border-bottom: 1px solid #04146c;
    padding-bottom: 15pt;
    width: 500px;
    margin: auto;
}

p {
    font-weight: 400;
    color: #0a2ff1;
    font-size: 14pt;
}