@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    /*argin: 0;
    padding: 0;
    */ 
}


h1{
    color: #0a2ff1;
/*    font-weight: 700;*/
    font-size: 66px;
}
h2{
    background-color:  #eff2ff;
    color:#0a2ff1;
    font-size: 22.55pt;
    font-weight: 400;
}
span{
    font-weight: 700;
}

p{
    display:inline;
    margin-right: 10px;
}

img{
    width: 30%;
}

button{
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: #8a9af1;
    font-weight: 400;
    font-size: 30px;
    color:white;
    border:none;
}

footer{
    background-color: #3ffff3;
    height: 10px;
}